/* Place your CSS styles in this file */
body {
    background-image: url(k.GIF2.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

}

h2 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}
h4 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}
nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
}

p {
    font-family: sans-serif;
    font-size: larger;
    font-weight: lighter
}

.gambarSDGs {
    width: 850px;
    display: block;
    margin: auto;
}

.gambarlogo {
    width: 400px;
    display: block;
    margin: auto;
}

iframe {
    margin: auto;
    display: block;
    width: 700px;
}

.gambarkelompok {
    width: 500px;
    display: block;
    margin: auto;
}
img {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

